.section-about {
  background-color: $grey-color-light;
  padding: 25rem 0;
  margin-top: -20vh;
  
}

.section-features {
  margin-top: -9rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($primary-color-light, 0.8),
    rgba($primary-color-dark, 0.5)) , url('../img/nat-4.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  transform: skewY(-5deg);

  & > * {
    transform: skewY(5deg);
  }
}