:root {
  --primary-light: #ff3366;
  --primary: #eb2f64;
  --primary-dark: #ba265d;
  --grey-light-1: #faf9f9;
  --grey-light-2:#f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
