.btn{
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    font-weight: 400;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
  }
  
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($black-color,.2);
    
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 2rem;
    }
    
    &::after {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  &--white{
    background-color: $white-color;
    color: $grey-color;

    &::after {
      background-color: $white-color;
    }
  }
  
  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    box-sizing: border-box;
  }
  
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: $primary-color;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $primary-color;
    padding: 3px;
    transition: all .2s;
  }
  &:hover {
    background-color: $primary-color;
    color: $white-color;
    box-shadow: 0 1rem 2rem rgba($black-color, .2);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 .5rem 1rem rgba($black-color, .2);
    transform: translateY(-2px);
  }
}