.heading-primary {
  color: $white-color;
  text-transform: uppercase;
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 2s;
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  &:hover{
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($black-color, 0.5);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

