//Palette brand
$primary-color-light: #7ed56f;
$primary-color: #55c57a;
$primary-color-dark: #28b485;

//Extra colors palette
$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;


//Grey scale
$white-color: #fff;
$grey-color-light: #f7f7f7;
$grey-color-light-2: #eee;
$grey-color: #777;
$black-color: #000;


//Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;