*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $grey-color;
  padding: 2rem;
  box-sizing: border-box;
}
