*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.75%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 35%;
  }
  
  @include respond(big-desk) {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $grey-color;
  padding: 2rem;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}


